@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-footernav-100: oklch(80.39% 0 0);      /* #cbcbcb gris */ 
  --color-blanco-100: oklch(98.04% 0 0);         /* #f9f9f9 blanco*/
 --color-boton-100: oklch(64.57% 0.156 252.05); /* #3498db */
 --color-darktext-100: oklch(22.4% 0.015 257.1); /* #2f3237 */
 --color-darkblue-100: oklch(22.4% 0.015 257.1); /*#024968*/
 --color-skyblue-100: oklch(66.5% 0.156 248.5); /*#3498db*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010616;
    --foreground: #f9f9f9;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}


